<!DOCTYPE html>
<html>
<head>
</head>

<body>

<h1><%= title %></h1>
<h1>Hello 5J</h1>

<table border=1>
 <tr><th>room</th><th>status</th><th>detail</th></tr>
 <tr><td>7308</td><td><%= s7308 %></td><td><%= d7308 %></td></tr>
 <tr><td>7408</td><td><%= s7408 %></td><td><%= d7408 %></td></tr>
 <tr><td>7501</td><td><%= s7501 %></td><td><%= d7501 %></td></tr>
 <tr><td>7505</td><td><%= s7505 %></td><td><%= d7505 %></td></tr>
 <tr><td>7506</td><td><%= s7506 %></td><td><%= d7506 %></td></tr>
</table>


</body>
</html>
